body {
    border: 4px crimson solid;
}

.all {
    display: flex;
    flex-direction: column;
}

.all>div {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 2px blue solid;
}

.one {
    width: 100%;
    align-self: center;
}

.two {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 50%;
    align-self: flex-end;
}

.three {
    width: 100%;
    align-self: center;
}