body {
    background-color: cornsilk;
}

.all{
    display: flex;
    color: cadetblue;
    margin: 20px;
    /* flex-wrap: wrap; */
}

.part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

#color-picker {
    height: 100px;
    width: 100px;
}

.paint-here{
    width:800px;
}

.col-sm{
    border: 2px black solid;
    height: 25px;
    text-align: center;
    margin: 2px;
}