body {
    background-color: rgb(250, 247, 224);
    font-family: 'Noto Sans JP', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(168, 226, 168);
    color: rgb(37, 37, 36);
    margin-bottom: 5px;
}

ul {
    display: flex;
}

li {
    margin-right: 20px;
    list-style-type: none;
}

#icon{
    font-size:50px; 
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
}