body {
    background-color: rgb(131, 235, 110);
}

.all {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.line1, .line2, .line3, .line4, .line5, #calc {
    display: flex;
    justify-content: center;
}

#calc {
border: black 2px solid;
   margin-right: 200px;
   margin-left: 200px;
   padding: 10px;
   background-color: rgb(95, 160, 117);
}
button {
    width:10%;
    height:70px;
    margin: 1px;
    font-size: larger;
    background-color: rgba(0, 100, 0, 0.705);
    color: white;
}

.c {
    background-color: rgb(192, 166, 80);
}

#reset {
   background-color: rgb(158, 57, 57); 
}

#clear {
    background-color: rgb(151, 102, 10); 
 }

.rac {
    width:20.3%;
}